$hover-color: #f1f1f1;

.quick-access-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #ccc;
  opacity: 0.5;
}

.quick-access-modal {
  position: fixed;
  z-index: 101;
  left: calc(50% - 300px);
  width: 600px;
  top: 50px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 5px 30px 5px rgba(0,0,0,0.15);
  .input-wrapper {
    padding: 10px 0;
    background: white;
  }
  input[type=search] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    padding: 10px;
    font-size: 42px;
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
    height: 52px !important;
  }
}

.quick-access-results {
  overflow-y: scroll;
  margin-top: 10px;
  transition: max-height .3s ease-in;
  max-height: 0;
  &.open {
    max-height: 400px;
  }
  .item {
    padding: 10px;
    cursor: pointer;
    &:hover, &.selected {
      background: $hover-color;
    }
    img {
      max-width: 50px;
    }
  }

}
